{% extends 'base.html' %}
{% load static %}

{% block title %}
Coach Home
{% endblock %}
{% block extra_css %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/coachhome.css' %}">

{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #050505; padding: 20px;">
    <div class="container-fluid">
        <!-- Left Side: Logo and App Name -->
        <a class="navbar-brand d-flex align-items-center" href="{% if user.is_authenticated %}{% if user.role == 'Shooter' %}{% url 'shooter_home' %}{% elif user.role == 'Coach' %}{% url 'coach_home' %}{% else %}{% url 'home' %}{% endif %}{% else %}{% url 'home' %}{% endif %} ">
            <img src="{% static 'images/letter&logo.png' %}" alt="Logo" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
            <span class="ms-2 logo_txt" style="font-size: 2rem;">Performance Tracker</span>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <!-- Right Side: Login Button (ms-auto pushes it to the right) -->
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                {% if user.role == "Shooter" %}
                    <li class="nav-item">
                        <span class="nav-link text-light fw-bold">Welcome, {{ user.first_name }}</span>
                    </li>
                {% elif user.role == "Coach" %}
                    <li class="nav-item d-flex align-items-center me-2">
                        <div class="coach-icon d-flex align-items-center justify-content-center text-dark fw-bold" 
                        style="width: 40px; height: 40px; background-color: #00ddff; border-radius: 50%;">
                            {% if user.first_name and user.last_name %}
                                {{ user.first_name.0}}{{ user.last_name.0}}
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item ms-2">
                    <a href="{% url 'logout' %}" class="btn fw-bold text-dark" style="background-color: #00ddff;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="btn fw-bold text-dark" style="background-color: #00ddff;">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
<div id="navbarMessageContainer" class="collapse navbar-message">
    {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == error %} alert-error {% else %} alert-info {% endif %} text-center">
        {{ message }}
    </div>
        {% endfor %}
    {% endif %}
</div>
<div  class="container-flex"style="background-color:#050505; margin:5px; border-radius:15px; padding:10px; height:100vh;">
    <div class="row">
        <div id="sidebar" class="col-2 d-flex flex-column" style="background-color:#050505;"> 
            <button id="shrink-btn"><i class="bi bi-arrows-angle-contract"></i><span>Shrink</span></button>
            <button id="home-btn" class="custom-btn"><i class="bi bi-house-door"></i><span> Home</span></button>
            <button id="dashboard-btn" class="custom-btn"><i class="bi bi-speedometer"></i><span> Dashboard</span></button>
            <button id="shooters-btn" class="custom-btn"><i class="bi bi-bullseye"></i><span> Shooters</span></button>
            <button id="notifications-btn" class="custom-btn position-relative">
                <i class="bi bi-bell"></i>
                <span> Notifications</span>
                {% if pending_requests_count > 0 %}
                    <span id="notification-badge" class="badge position-absolute top-0 start-100 translate-middle"
                          style="background-color: #00DDFF; color: black; padding: 5px 8px; border-radius: 50%; font-size: 12px;">
                        {{ pending_requests_count }}
                    </span>
                {% endif %}
            </button>
            
            <button id="profile-btn" class="custom-btn"><i class="bi bi-person-circle"></i><span> Profile</span></button>
            <button id="settings-btn" class="custom-btn"><i class="bi bi-gear"></i><span> Settings</span></button>
        </div>
        <div id="main-content" class="col-10" style="background-color:#202020; ">
            {% comment %} home container {% endcomment %}
            <div id="home-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none;">
                <div class="row d-flex justify-content-between align-items-start gap-3" style="padding-top:15px" >
                    <div class="col-md-8">
                        <div class="row text-center align-items-center gx-3" style="background-color:#050505; border-radius:15px; padding-top:15px; ">
                            <div class="col-2">
                                <h4 class="logo_txt">Total shooters</h4>
                                <p> {{ shooters_count }} </p>
                            </div>
                            <div class="col-3">
                                <h4 class="logo_txt">Active shooters</h4>
                                <p> {{ shooters_count }} </p>
                            </div>
                            <div class="col-3">
                                <h4 class="logo_txt">High scorer</h4>
                                <p>
                                    <strong>EST (60):</strong> {{ best_sh_60_est }} 
                                </p>
                            </div>
                            <div class="col-4">
                                <h4 class="logo_txt">Best Average </h4>
                                <p>
                                    <strong>EST (60):</strong> {{ best_sh_60_est_avg }} 
                                </p>
                            </div>
                        </div>
                        <div class="row mt-4 p-3"style="background-color: #050505; border-radius: 15px;">
                            <div class="col-12">
                                <div class="d-flex align-items-center">
                                    <!-- Spacer (Pushes the title to center) -->
                                    <div class="flex-grow-1 text-center">
                                        <h4 class="m-0" style="color: #00DDFF; font-weight: bold; font-style: italic;">
                                            Day Planner
                                        </h4>
                                    </div>
                                    <!-- Create Button (Aligned to the Right) -->
                                    <button id="showFormBtn" class="btn btn-primary" style="background-color: #00DDFF; color: black; border: none;">
                                        <i class="bi bi-pencil-square"></i> Create
                                    </button>
                                </div>
                                <div class="py-3 rounded" >
                                    <!-- Form for Adding New Activities -->
                                    <div id="dayPlannerForm" style="display: none;">
                                        <form method="POST" class="mb-3 p-3 rounded" style="background-color: #050505; border: 1px solid #00DDFF;">
                                            {% csrf_token %}
                                            <input type="hidden" name="form_name" value="day_planner_form">
                                            <h5 style="color: #00DDFF;">Add a New Activity</h5>
                                    
                                            <div class="mb-2">
                                                <label for="id_shooter" style="color: white;">Select Shooter</label>
                                                {{ form1.shooter }}
                                            </div>
                                    
                                            <div class="mb-2">
                                                <label for="id_date" style="color: white;">Date</label>
                                                {{ form1.date }}
                                            </div>
                                    
                                            <div class="mb-2">
                                                <label for="id_time" style="color: white;">Time</label>
                                                {{ form1.time }}
                                            </div>
                                    
                                            <div class="mb-2">
                                                <label for="id_activity" style="color: white;">Activity</label>
                                                {{ form1.activity }}
                                            </div>
                                    
                                            <div class="form-check mb-3">
                                                {{ form1.shared_with_shooter }}
                                                <label class="form-check-label" for="id_shared_with_shooter" style="color: white;">Share with Shooter</label>
                                            </div>
                                    
                                            <button type="submit" class="btn btn-info" style="background-color: #00DDFF; color: black; border: none;">Save</button>
                                        </form>
                                    </div>
                                    <!-- List of Planned Activities -->
                                    <ul class="list-group">
                                        {% for event in day_plans %}
                                            <li class="list-group-item" 
                                                style="background-color: #050505; color: white; border: 1px solid #00DDFF; border-radius: 10px; margin-bottom: 5px;">
                                                <strong style="color: #00DDFF;">{{ event.time }}</strong> - {{ event.activity }}
                                                {% if event.shared_with_shooter %}
                                                    <span style="color: #00DDFF;">(Shared)</span>
                                                {% endif %}
                                            </li>
                                        {% empty %}
                                            <li class="list-group-item text-center" 
                                                style="background-color: #050505; color: #00DDFF; border: 1px solid #00DDFF; border-radius: 10px;">
                                                No activities planned for today.
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4 p-3"style="background-color: #050505; border-radius: 15px;">
                            <div class="col-12">
                                <div class="d-flex align-items-center">
                                    <!-- Spacer (Pushes the title to center) -->
                                    <div class="flex-grow-1 text-center">
                                        <h4 class="m-0" style="color: #00DDFF; font-weight: bold; font-style: italic;">📅 Upcoming Matches & Events</h4>
                                    </div>
                                    <!-- Create Button (Aligned to the Right) -->
                                    <button id="toggleEventFormBtn" class="btn btn-sm btn-info mb-2"><i class="bi bi-plus-lg"></i> Add Event</button>
                                </div>
                                <!-- Event List -->
                                <ul class="list-group">
                                    {% for event in events %}
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <strong>{{ event.title }}</strong> - {{ event.date }}<br>
                                            📍 {{ event.location|default:"TBA" }}
                                        </div>
                                        <span class="badge bg-info">{{ event.visibility|title }}</span>
                                    </li>
                                    {% empty %}
                                    <li class="list-group-item text-center" 
                                    style="background-color: #050505; color: #00DDFF; border: 1px solid #00DDFF; border-radius: 10px;">
                                    No upcoming events
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 p-3 mb-3">
                                <!-- Add Event Modal -->
                                <div id="eventFormContainer" style="display: none; border: 1px solid #00DDFF; padding: 15px; border-radius: 10px;">
                                    <h5 class="text-center">Add New Event</h5>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form2.as_p }}
                                        <button type="submit" class="btn btn-primary w-100">Save Event</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col p-3 text-center align-items-center" style="width: 8%; min-width: 150px; background-color:#050505; border-radius:15px; padding-top:15px;">
                        <img src="{% static 'images/coach.png' %}" alt="Profile Pic" class="rounded-circle" width="80" height="80" style="cursor: pointer;">
                        <h4 class="mt-2 text-info" onclick="document.getElementById('profile-btn').click();" style=" border: none; padding: 8px 15px; border-radius: 5px; color: black; font-weight: bold; cursor: pointer; margin-top: 10px;">Welcome, {{ user.first_name }}🎯</h4>
                        <p class="logo_txt">{{ user.role }}</p>
                        <!-- Quick Actions Section -->
                        <hr>
                        <h4 class="logo_txt" style="text-decoration: underline;">Quick Actions</h4>
                        <div class="d-flex py-3 flex-column gap-2" style="max-height: 400px; overflow-y: auto;">
                            <h5 class="text-info">Inspect Shooters </h5>
                            <table class="table custom-table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">S.No</th>
                                        <th>Name</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shooter in shooters %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td>{{ shooter.name }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'inspect' shooter.id %}" class="btn view-btn btn-sm">
                                                <i class="fa-solid fa-eye"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="d-flex py-3 flex-column gap-2" style="max-height: 400px; overflow-y: auto;">
                            <h5 class="text-info">Message Shooters</h5>
                            {% for shooter in shooters %}
                                <a class="btn btn-sm btn-outline-info">{{ shooter.name }}</a>
                            {% endfor %}
                        </div>
                        {% comment %} href="{% url 'chat' shooter.id %}" {% endcomment %}
                    </div>
                </div>
            </div>
            {% comment %} dashboard container {% endcomment %}
            <div id="dashboard-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none;">
                <h3 class="text-center logo_txt py-3">Dashboard</h3>
                <!-- Row for Stats Cards -->
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="card p-3" style="background-color: #050505; border-radius:12px;">
                            <h5 class="logo_txt"><i class="bi bi-person-lines-fill"></i> Total Shooters</h5>
                            <h2 id="total-shooters" class="text-light">{{ shooters_count }}</h2>
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="text-info"><i class="bi bi-gender-male"></i> Male </h5>
                                    <h4 id="total-male-shooters" class="text-light"> {{ male_shooters_count }}</h4>
                                </div>
                                <div class="col-6">
                                    <h5 class="text-info"><i class="bi bi-gender-female"></i> Female </h5>
                                    <h4 id="total-male-shooters" class="text-light"> {{ female_shooters_count }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3" style="background-color: #050505; border-radius:12px;">
                            <h5 class="logo_txt text-info"><i class="bi bi-arrow-up"></i> Best Score </h5>
                                <div>
                                <p class="text-light">
                                    <b>40-Shots (Manual):</b> {{ best_sh_40_man }} ({{ hg_40_man }}) <br>
                                    <b>60-Shots (Manual):</b> {{ best_sh_60_man }} ({{ hg_60_man }}) <br>
                                    <b>40-Shots (EST):</b> {{ best_sh_40_est }} ({{ hg_40_est }}) <br>
                                    <b>60-Shots (EST):</b> {{ best_sh_60_est }} ({{ hg_60_est }})
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-3" style="background-color: #050505; border-radius:12px;">
                            <h5 class="logo_txt"><i class="bi bi-arrow-down-up"></i> Average Score</h5>
                            <div>
                                <p class="text-light">
                                <b> 40-Shots (Manual):</b> {{ best_sh_40_man_avg }} ({{ hg_40_man_avg }}) <br>
                                <b> 60-Shots (Manual):</b> {{ best_sh_60_man_avg }} ({{ hg_60_man_avg }}) <br>
                                <b> 40-Shots (EST):</b> {{ best_sh_40_est_avg }} ({{ hg_40_est_avg }}) <br>
                                <b> 60-Shots (EST):</b> {{ best_sh_60_est_avg }} ({{ hg_60_est_avg }})
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                    {% comment %} Row with Active Shooters, Streak Leaderboard, and Progress Indicator {% endcomment %}
                <div class="row text-center mt-4">
                    <!-- Active Shooters -->
                    <div class="col-md-4">
                        <div class="card p-3 hover-flip" style="background-color: #050505; border-radius:12px;">
                            <h5 class="text-info"> 🏃 Active Shooters Today</h5>
                            <h2 id="active-shooters" class="text-light">{{ active_shooters }}</h2>
                        </div>
                    </div>
                    
                    <!-- Streak Leaderboard -->
                    <div class="col-md-4">
                        <div class="card p-3 hover-flip" style="background-color: #050505; border-radius:12px;">
                            <h5 class="text-info">🔥 Streak Leaderboard</h5>
                            <ul class="text-light list-unstyled">
                                {% for shooter in streak_leaderboard %}
                                    <li><b>{{ shooter.username }}</b> - {{ shooter.streak }} days</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                
                    <!-- Progress Indicator -->
                    <div class="col-md-4">
                        <div class="card p-3 hover-flip" style="background-color: #050505; border-radius:12px;">
                            <h5 class="text-info">📈 Progress Indicator</h5>
                            <p class="text-light">Top improver: <b>{{ top_improver.username }}</b> (+{{ top_improver.progress }} points)</p>
                        </div>
                    </div>
                </div>
                
                <!-- Row for Charts -->
                <div class="row mt-4 text-center py-4 mx-0" style="background-color: #050505; border-radius:15px;">
                    <h4 class= "text-info"> Shooters Performance trends over time </h4>
                    <div class="row mt-2" >
                        <div class="col-md-3">
                            <div id="shootersPerformmanceTrendman" class="p-3 rounded chart-container" style="background-color: #050505;"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="shootersPerformmanceTrendest" class="p-3 rounded chart-container" style="background-color: #050505;"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="shootersPerformmanceTrend60man" class="p-3 rounded chart-container" style="background-color: #050505;"></div>
                        </div>
                        <div class="col-md-3">
                            <div id="shootersPerformmanceTrend60est" class="p-3 rounded chart-container" style="background-color: #050505;"></div>
                        </div>
                    </div>
                </div>
            
                <!-- Recent Activity -->
                <div class="mt-4 p-3" style="background-color: #050505; border-radius:12px;" >
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="logo_txt">Recent Shooter Activity</h4>                      
                        <select id="scoreFilter" class="form-select d-inline w-auto" style="background-color: #202020; color: #00ddff; border:none;">
                            <option value="all">Show all</option>
                            <option value="40-manual">40-Shots Manual</option>
                            <option value="60-manual">60-Shots Manual</option>
                            <option value="40-est">40-Shots EST</option>
                            <option value="60-est">60-Shots EST</option>
                        </select>
                        <div>
                            <input type="date" id="startDate" class="form-control d-inline w-auto" style="background-color:#202020; color:#00ddff; border:none;">
                            <input type="date" id="endDate" class="form-control d-inline w-auto" style="background-color:#202020; color:#00ddff; border:none;">
                            <button onclick="filterByDate()" class="btn btn-info">Filter</button>
                        </div>
                    </div>
                    <table class="table table-dark table-striped table-bordered mt-3 rounded border border-info">
                        <thead class="text-center" style="font-size: 20px;">
                            <tr>
                                <th style="color: #00ddff;">Shooter</th>
                                <th style="color: #00ddff;">Last Score</th>
                                <th style="color: #00ddff;">Date</th>
                                <th style="color: #00ddff;">Match Type</th>
                                <th style="color: #00ddff;">Type</th>
                            </tr>
                        </thead>
                        <tbody id="scoreTableBody">
                                    {% for score in recent_scores %}
                                        <tr data-category="{% if score.type == 'Manual' %} 
                                            {% if score.match_type == '40-Shots' %} 40-manual 
                                            {% elif score.match_type == '60-Shots' %} 60-manual 
                                            {% endif %}
                                    {% elif score.type == 'EST' %} 
                                            {% if score.match_type == '40-Shots' %} 40-est 
                                            {% elif score.match_type == '60-Shots' %} 60-est 
                                            {% endif %}
                                    {% else %} other {% endif %}">
                                <td>{{ score.user_profile__username }}</td>
                                <td>{{ score.total }}</td>
                                <td>{{ score.date }}</td>
                                <td>{{ score.match_type }}</td>
                                <td>{{ score.type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
            </div>        
            {% comment %} shooters list {% endcomment %}
            <div id="shooters-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none;">
                <h4 class="mb-3 logo_txt py-3">Shooters List</h4>
                <div class="table-responsive">
                    <table class="table custom-table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">S.No</th>
                                <th>Name</th>
                                <th class="text-center">Average (40) Manual</th>
                                <th class="text-center">Average (60) Manual</th>
                                <th class="text-center">Average (40) EST</th>
                                <th class="text-center">Average (60) EST</th>
                                <th class="text-center">View</th>
                                <th class="text-center">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for shooter in shooters %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ shooter.name }}</td>
                                <td class="text-center">{{ shooter.man_40_avg }}</td>
                                <td class="text-center">{{ shooter.man_60_avg }}</td>
                                <td class="text-center">{{ shooter.est_40_avg }}</td>
                                <td class="text-center">{{ shooter.est_60_avg }}</td>
                                <td class="text-center">
                                    <a href="{% url 'inspect' shooter.id %}" class="btn view-btn btn-sm">
                                        <i class="fa-solid fa-eye"></i> 
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-sm" onclick="openRemoveModal({{ shooter.id }})"><i class="bi bi-person-dash"></i> Remove</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% comment %} Notification container {% endcomment %}
            <div id="notifications-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none;">
                <h2 class="logo_txt py-3" > Notifications</h2>
                {% if pending_requests %}
                <h4 class="text-center my-2 logo_txt">Coaching Requests</h4>
                <div class="py-3">
                    {% for request in pending_requests %}
                        <div class="card p-3 mb-3" style="background-color: #0A0A0A; border-radius: 12px; border: 1px solid #303030; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);">
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="text-light"><b>{{ request.shooter.username }} wants you as a coach.</b></span>
                                <div class="d-flex gap-2">
                                    <form method="post" action="{% url 'accept_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm">Accept</button>
                                    </form>
                                    <form method="post" action="{% url 'reject_request' request.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm">Reject</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                {% else %}
                    <p class="text-center">No new requests.</p>
                {% endif %}
            </div>
            {% comment %} profile container{% endcomment %}
            <div id="profile-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none;">
                <div class=" container-fluid py-5">
                    <div style="width: 80%; margin: auto; padding: 20px; background-color: #050505; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 221, 255, 0.3);">
                        <h2 style="color: #00DDFF; text-align: left; margin-bottom: 20px;">Profile Settings</h2>
                            <div class="row">
                                <!-- Profile Image & Name -->
                                <div class="col-4" style="text-align: center;">
                                    <i class="fas fa-user-circle" style="font-size: 120px; color: #00DDFF;"></i>
                                    <h3 style="color: #00DDFF; margin-top: 10px;"><i class="bi bi-credit-card-2-front"></i>{{ user.username }}</h3>
                                    <p style="color: grey;"><i class="bi bi-bullseye"></i> {{ specialization }}</p>
                                    <p style="color: grey;"><i class="bi bi-gender-ambiguous"></i> Gender {{ gender }}</p>
                                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editProfileModal" style="background-color: #00DDFF; margin-right: 12px; border: none; padding: 8px 15px; border-radius: 5px; color: black; font-weight: bold; cursor: pointer; margin-top: 10px;">
                                        <i class="fas fa-edit"></i> Edit
                                    </button>
                                    <button class="btn btn-info" onclick="document.getElementById('shooters-btn').click();" style="background-color: #00DDFF; border: none; padding: 8px 15px; border-radius: 5px; color: black; font-weight: bold; cursor: pointer; margin-top: 10px;">
                                        <i class="bi bi-people"></i> Students
                                    </button>
                                </div>
                                <!-- Profile Info - Left Column -->
                                <div class="col-4 py-5" >
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-envelope-paper" style="margin-right: 8px;"></i> Email:</strong> <span style="color: white; border-bottom:2px;">{{ coach_email}}</span></p>
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-telephone" style="margin-right: 8px;"></i> Phone:</strong> <span style="color: white;">{{ coach_phone }}</span></p>
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-calendar-event" style="margin-right: 8px;"></i> DOB:</strong> <span style="color: white;">{{ date_of_birth }}</span></p>
                                </div>
                        
                                <!-- Profile Info - Right Column -->
                                <div class="col-4 py-5">
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-people" style="margin-right: 8px;"></i> Shooters:</strong> <span style="color: white;">{{ shooters_count }}</span></p>
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-graph-up-arrow" style="margin-right: 8px;"></i> Experience:</strong> <span style="color: white;">{{ experience }}</span></p>
                                    <p style="margin-bottom: 15px; font-size: 20px;"><strong style="color: #00DDFF; font-size:22px; margin-right: 8px;"><i class="bi bi-cup-hot" style="margin-right: 8px;"></i> Club:</strong> <span style="color: white;">{{ club }}</span></p>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
            {% comment %} settings {% endcomment %}
            <div id="settings-container" class="container-fluid text-light" style="background-color:#202020; border-radius:15px; display:none; height: 82vh; overflow-y: auto;scrollbar-width: none; -ms-overflow-style: none;">
                <h3 class="text-center py-3 logo_txt">Settings</h3>
                <!-- Shooter Management -->
                <div class="mt-4 p-3" style="background-color:#050505; border-radius:12px;">
                    <h4 class="d-flex justify-content-between align-items-center">
                        Shooter Management
                        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editMaxShootersModal">
                            <i class="fa-solid fa-pen"></i> Edit
                        </button>
                    </h4>
                    <div class="form-group mt-2">
                        <label for="max-shooters">Max Shooters</label>
                        <input type="number" id="max-shooters" class="form-control bg-dark text-light" value="{{ max_shooters }}" readonly>
                    </div>
                </div>
                <!-- Data & Privacy -->
                <div class="mt-4 p-3" style="background-color:#050505; border-radius:12px;">
                    <h4>Data & Privacy</h4>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#downloadShooterDataModal"><i class="bi bi-download"></i> Download Shooter Data</button>
                    <!-- Delete Account Button -->
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal"><i class="bi bi-trash3"></i> Delete Account</button>
                </div>  
            </div>
        </div>
    </div>
    {% comment %} remove shooter modal {% endcomment %}
    <div class="modal fade" id="removeShooterModal" tabindex="-1" aria-labelledby="removeShooterModalLabel" aria-hidden="true">
        <div class="modal-dialog text-light">
            <div class="modal-content" style="background-color: #050505; border: 2px solid #00ddff;">
                <div class="modal-header">
                    <h5 class="modal-title" id="removeShooterModalLabel">Confirm Removal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this shooter?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form id="removeShooterForm" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-light" style="background-color: #050505;border: 2px solid #00ddff;">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="editProfileModalLabel">Edit Profile</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{% url 'update_profile' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="edit-coach-name">Name</label>
                            <input type="text" id="edit-coach-name" name="name" class="form-control" value="{{ coach_name|default:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-email">Email</label>
                            <input type="email" id="edit-coach-email" name="email" class="form-control" value="{{ coach_email|default:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-mobile_number">Mobile No.</label>
                            <input type="phone" id="edit-coach-mobile_number" name="mobile_number" class="form-control" value="{{ coach_phone|default:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-dob">Date of Birth</label>
                            <input type="date" id="edit-coach-dob" name="dob" class="form-control" value="{{ dob|date:'Y-m-d' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-specialization">Specialization</label>
                            <select id="edit-coach-specialization" name="specialization" class="form-control" multiple required>
                                <option value="10M Air Rifle" {% if "10M Air Rifle" in specialization %}selected{% endif %}>10M Air Rifle</option>
                                <option value="10M Air Pistol" {% if "10M Air Pistol" in specialization %}selected{% endif %}>10M Air Pistol</option>
                                <option value="25M Pistol" {% if "25M Pistol" in specialization %}selected{% endif %}>25M Pistol</option>
                                <option value="50M Pistol" {% if "50M Pistol" in specialization %}selected{% endif %}>50M Pistol</option>
                                <option value="50M Rifle" {% if "50M Rifle" in specialization %}selected{% endif %}>50M Rifle</option>
                            </select>
                            <small class="form-text text-muted">Hold Ctrl (Windows) or Command (Mac) to select multiple options.</small>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-gender">Gender</label>
                            <select id="edit-coach-gender" name="gender" class="form-control" required>
                                <option value="Male" {% if gender == "Male" %}selected{% endif %}>Male</option>
                                <option value="Female" {% if gender == "Female" %}selected{% endif %}>Female</option>
                                <option value="Other" {% if gender == "Other" %}selected{% endif %}>Other</option>
                            </select>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-experience">Experience (Years)</label>
                            <input type="number" id="edit-coach-experience" name="experience" class="form-control" value="{{ experience|default:'' }}" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="edit-coach-club">Affiliated Club/Academy</label>
                            <input type="text" id="edit-coach-club" name="club" class="form-control" value="{{ club|default:'' }}" required>
                        </div>
                        <button type="submit" class="btn btn-info mt-3">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Max Shooters Modal -->
    <div class="modal fade" id="editMaxShootersModal" tabindex="-1" aria-labelledby="editMaxShootersLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-light" style="background-color: #050505;border: 2px solid #00ddff;">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="editMaxShootersLabel">Edit Max Shooters</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="maxShootersForm" method="post" action="{% url 'update_max_shooters' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="modal-max-shooters">Enter New Max Shooters</label>
                            <input type="number" id="modal-max-shooters" name="max_shooters" class="form-control" value="{{ max_shooters }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-info">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Account Modal -->
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-light" style="background-color: #050505;border: 2px solid #00ddff;">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="deleteAccountModalLabel">Confirm Account Deletion</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your account? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form method="POST" action="{% url 'delete_account' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Download Shooter Data Modal -->
    <div class="modal fade" id="downloadShooterDataModal" tabindex="-1" aria-labelledby="downloadShooterDataModalLabel" aria-hidden="true">
        <div class="modal-dialog text-light">
            <div class="modal-content" style="background-color: #050505; border: 2px solid #00ddff;">
                <div class="modal-header">
                    <h5 class="modal-title text-info" id="downloadShooterDataModalLabel">Download Shooter Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="shooterSelect" class="form-label">Select Shooter:</label>
                    <select class="form-select bg-dark text-light" id="shooterSelect">
                        {% for shooter in shooters %}
                            <option value="{{ shooter.id }}">{{ shooter.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info" onclick="downloadShooterData()">Download</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let messageContainer = document.getElementById("navbarMessageContainer");
    
        if (messageContainer && messageContainer.innerText.trim() !== "") {
            // Expand the message container
            let bsCollapse = new bootstrap.Collapse(messageContainer, {
                toggle: true
            });
    
            // Collapse after 5 seconds
            setTimeout(() => {
                bsCollapse.hide();
            }, 5000);
        }
    });
    document.addEventListener("DOMContentLoaded", function() {
        function showOnly(elementId) {
            // Hide all containers first
            let containers = [
                'home-container',
                'dashboard-container',
                'shooters-container',
                'notifications-container',
                'profile-container',
                'settings-container'
            ];
            
            containers.forEach(id => {
                document.getElementById(id).style.display = 'none';
            });
    
            // Show the selected container
            document.getElementById(elementId).style.display = 'block';
        }
    
        // Set Home as default open
        showOnly('home-container');
    
        // Event listeners for buttons
        document.getElementById('home-btn').addEventListener('click', function() {
            showOnly('home-container');
        });
    
        document.getElementById('dashboard-btn').addEventListener('click', function() {
            showOnly('dashboard-container');
        });
    
        document.getElementById('shooters-btn').addEventListener('click', function() {
            showOnly('shooters-container');
        });
    
        document.getElementById('notifications-btn').addEventListener('click', function() {
            showOnly('notifications-container');
        });
    
        document.getElementById('profile-btn').addEventListener('click', function() {
            showOnly('profile-container');
        });
    
        document.getElementById('settings-btn').addEventListener('click', function() {
            showOnly('settings-container');
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        const sidebar = document.getElementById("sidebar"); // Change this to your actual sidebar class or ID
        const mainContent = document.getElementById("main-content"); // Change to your main content area
        const shrinkButton = document.getElementById("shrink-btn");

        shrinkButton.addEventListener("click", function () {
            sidebar.classList.toggle("collapsed"); // Toggle a collapsed class
            mainContent.classList.toggle("expanded"); // Adjust main content width accordingly
        });
    });
{% comment %} create button function {% endcomment %}
    document.getElementById("showFormBtn").addEventListener("click", function () {
        var formDiv = document.getElementById("dayPlannerForm");
        if (formDiv.style.display === "none") {
            formDiv.style.display = "block";
        } else {
            formDiv.style.display = "none";
        }
    });
    document.getElementById("toggleEventFormBtn").addEventListener("click", function () {
        var formdiv = document.getElementById("eventFormContainer");
        if (formdiv.style.display === "none") {
            formdiv.style.display = "block";
        } else {
            formdiv.style.display = "none";
        } 
    });

function openRemoveModal(shooterId) {
    let form = document.getElementById("removeShooterForm");
    form.action = `/remove_shooter/${shooterId}/`;  // Update action with shooter's ID
    let modal = new bootstrap.Modal(document.getElementById("removeShooterModal"));
    modal.show();
};

function generateCalendar(containerId, year, month, practiceDays = []) {
    const calendar = document.getElementById(containerId);
    if (!calendar) {
        console.error(`Element with ID '${containerId}' not found.`);
        return;
    }
    
    calendar.innerHTML = ""; // Clear previous content

    const firstDay = new Date(year, month - 1, 1);
    const lastDay = new Date(year, month, 0).getDate();
    const startDay = firstDay.getDay(); // 0 = Sunday, 1 = Monday...

    // Add empty cells for first week
    for (let i = 0; i < startDay; i++) {
        const emptyCell = document.createElement("div");
        emptyCell.classList.add("day");
        calendar.appendChild(emptyCell);
    }

    // Fill in the dates
    for (let date = 1; date <= lastDay; date++) {
        const dayCell = document.createElement("div");
        dayCell.classList.add("day");
        dayCell.innerText = date;

        const formattedDate = `${year}-${String(month).padStart(2, '0')}-${String(date).padStart(2, '0')}`;
        if (practiceDays.includes(formattedDate)) {
            dayCell.classList.add("practice-day"); // Highlight practiced days
        }

        calendar.appendChild(dayCell);
    }
};

function showActivityModal(activityId) {
    const contentElement = document.getElementById(`activityContent${activityId}`);
    const modalElement = document.getElementById(`activityModal${activityId}`);
    
    if (!contentElement || !modalElement) {
        console.error("One or more elements not found for activityId:", activityId);
        return;
    }

    contentElement.style.display = "block";
    new bootstrap.Modal(modalElement).show();
};

function filterByDate() {
    let startDate = document.getElementById("startDate").value;
    let endDate = document.getElementById("endDate").value;
    let rows = document.querySelectorAll("#scoreTableBody tr");

    rows.forEach(row => {
        let dateCell = row.cells[2].innerText;
        let rowDate = new Date(dateCell);

        if ((startDate && rowDate < new Date(startDate)) || (endDate && rowDate > new Date(endDate))) {
            row.style.display = "none";
        } else {
            row.style.display = "";
        }
    });
};
document.addEventListener("DOMContentLoaded", function () {
    const badge = document.getElementById("notification-badge");
    const notificationsBtn = document.getElementById("notifications-btn");

    if (badge) {
        // If badge exists, show it only if there are pending requests
        let unreadCount = parseInt(badge.innerText.trim());
        badge.style.display = unreadCount > 0 ? "inline-block" : "none";
    }

    if (notificationsBtn) {
        notificationsBtn.addEventListener("click", function () {
            if (badge) {
                badge.style.display = "none"; // Hide badge on click (assuming user has seen notifications)
            }
        });
    }
});

var manual_40_data = JSON.parse('{{ manual_40_shot_trends|escapejs }}');
var manual_60_data = JSON.parse('{{ manual_60_shot_trends|escapejs }}');
var est_40_data = JSON.parse('{{ est_40_shot_trends|escapejs }}');
var est_60_data = JSON.parse('{{ est_60_shot_trends|escapejs }}');
// Process each dataset and render charts
var manual_40 = processData(manual_40_data);
var manual_60 = processData(manual_60_data);
var est_40 = processData(est_40_data);
var est_60 = processData(est_60_data);

// Function to parse JSON and process data for ApexCharts
function processData(jsonData) {
    var uniqueDates = new Set();
    Object.values(jsonData).forEach(shooterData => {
        shooterData.forEach(entry => uniqueDates.add(entry.date));
    });

    var categories = Array.from(uniqueDates).sort(); // Convert Set to sorted Array

    var seriesData = Object.keys(jsonData).map(shooter => ({
        name: shooter,
        data: categories.map(date => {
            let record = jsonData[shooter].find(entry => entry.date === date);
            return record ? record.score : null; // Insert null if data is missing
        })
    }));

    return { categories, seriesData };
};

{% comment %} Charts {% endcomment %}
function renderLineChart(elementId, categories, seriesData, heading) {
    var options = {
        chart: {
            type: 'line',
            height: 350,
            background: '#020202',
            toolbar: {
                show: false
            }
        },
        tooltip: {
            theme: 'dark'
        },
        title: {
            text: heading, // Set your title here
            align: 'center', // Align to center
            style: {
                fontSize: '16px',
                color: '#00DDFF' // Adjust color if needed
            }
        },
        yaxis: {
            labels: {
                style: {
                    colors: '#ffffff'
                }
            }
        },
        legend: {
            labels: {
                colors: '#ffffff',
            }
        },
        series: seriesData,
        xaxis: {
            categories: categories,
            labels: {
                rotate: -40, // Adjust rotation
                rotateAlways: true,
                show: true,
                style: {
                    fontSize: '12px',
                    colors: '#FFFFFF'
                },
                trim: false
            },
            tickPlacement: 'on',
        }
    };

    var chart = new ApexCharts(document.querySelector(`#${elementId}`), options);
    chart.render();
};

renderLineChart("shootersPerformmanceTrendman", manual_40.categories, manual_40.seriesData, "Manual-40");
renderLineChart("shootersPerformmanceTrend60man", manual_60.categories, manual_60.seriesData, "Manual-60");
renderLineChart("shootersPerformmanceTrendest", est_40.categories, est_40.seriesData, "EST-40");
renderLineChart("shootersPerformmanceTrend60est", est_60.categories, est_60.seriesData, "EST-60");

document.getElementById("scoreFilter").addEventListener("change", function() {
    let selectedFilter = this.value; // Get selected value
    let rows = document.querySelectorAll("#scoreTableBody tr"); // Get all table rows

    rows.forEach(row => {
        if (selectedFilter === "all" || row.dataset.category.includes(selectedFilter)) {
            row.style.display = "";  // Show matching rows
        } else {
            row.style.display = "none";  // Hide non-matching rows
        }
    });
});

document.addEventListener("DOMContentLoaded", function () {
    function lazyLoadCharts() {
        const chartElements = document.querySelectorAll(".chart-container"); // Ensure charts have this class

        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    let chartId = entry.target.getAttribute("id");
                    renderChart(chartId);
                    observer.unobserve(entry.target); // Stop observing once loaded
                }
            });
        }, { threshold: 0.3 });

        chartElements.forEach(chart => observer.observe(chart));
    }

    function renderChart(chartId) {
        let chartData = {
            "shootersPerformmanceTrendman": manual_40,
            "shootersPerformmanceTrend60man": manual_60,
            "shootersPerformmanceTrendest": est_40,
            "shootersPerformmanceTrend60est": est_60
        };

        if (chartData[chartId]) {
            renderLineChart(chartId, chartData[chartId].categories, chartData[chartId].seriesData, chartId.replace("shootersPerformmanceTrend", "").toUpperCase());
        }
    }

    lazyLoadCharts();
});
</script>
    

{% endblock %}