{% extends 'base.html' %}
{% block content %}
<style>
    .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 8px; /* Slightly rounded edges for a modern look */
    border: 2px solid #00DDFF ;
    background-color: #1e1e1e;
    color: white;
    font-size: 16px;
    padding-right: 40px; /* Ensure space for the eye icon */
}
</style>
<div class="d-flex justify-content-center align-items-center" style="min-height: 75vh; background-color: #202020;">
    <div class="card p-4 shadow-lg " style="width: 400px; background-color: #050505; color: #ffffff; border-radius: 12px;">
        <h2 class="logo_txt">Performance Tracker</h2>
        <h2>Password Reset Successful</h2>
        <p>Your password has been changed successfully. You can now <a href="{% url 'login' %}">Login</a>.</p>
    </div>
</div>
{% endblock %}
